.Button {
  border:#5a6270;
  border-radius: 3px;
  width: 48px;
  height: 48px;
  background-color: #3d434d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 4px;
}

.Button.highlight {
  border:#5a6270;
  border-radius: 3px;
  width: 48px;
  height: 48px;
  background-color: #5a6270;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 4px;
}