.ButtonGrid {
    display: grid;
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: fit-content;
    background-color: #282c34;
    margin: 16px;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(48px, 48px));

  }